# AI Provider Keys
OPENAI_API_KEY=your_openai_key_here
OPENAI_ORG_ID=your_organization_id_here
OPENAI_MODEL_ID=gpt-5-mini

ELEVEN_LABS_API_KEY=your_eleven_labs_key_here
ELEVEN_LABS_MODEL_ID=eleven_multilingual_v2
ELEVEN_LABS_VOICE_ID_OWL=101A8UFM73tcrunWGirw
ELEVEN_LABS_VOICE_ID_BILLIE=gidGFDFyCSnGFnZ9hK7l

# System Paths (Optional if binaries are in system PATH)
# Mac Homebrew Default: /opt/homebrew/bin/ffmpeg
# Windows Default Example: C:\ffmpeg\bin\ffmpeg.exe
FFMPEG_PATH=
FFPROBE_PATH=
